<%- if controller_name != 'sessions' %>
  <p><%= link_to "Log in", new_session_path(resource_name),
        class: "inline-block mt-2 px-4 py-2 rounded-full font-bold uppercase text-xs shadow-md",
        style: "background-color: #7D39EB; color: white;" %></p>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p><%= link_to "Sign up", new_registration_path(resource_name),
        class: "inline-block mt-2 px-4 py-2 rounded-full font-bold uppercase text-xs shadow-md",
        style: "background-color: #C6FF33; color: #23003F;" %></p>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <p><%= link_to "Forgot your password?", new_password_path(resource_name),
        class: "inline-block mt-2 px-4 py-2 rounded-full font-bold uppercase text-xs shadow-md",
        style: "background-color: #F2619C; color: white;" %></p>
<% end %>
